#novo{
    margin-top: 20px;
    margin-bottom: 30px;
}

.acoes{
    margin-left: 20px;
}

.form-group{
    margin-top: 30px;
}

.titulo{
    text-align: center;
}

#confirmarExclusao{
    margin-top: 50px;
}

#simNao{
    margin-top: 20px;
}